<form action="/api/user/signup" method="post">
    <div>
        <label>Логин:</label>
        <input type="text" name="username" /><br />
    </div>
    <div>
        <label>Пароль:</label>
        <input type="password" name="password" />
    </div>
    <div>
        <label>Имя:</label>
        <input type="text" name="displayName" />
    </div>
    <div>
        <label>Mail:</label>
        <input type="text" name="emails" />
    </div>
    <div>
        <input type="submit" value="Войти" />
    </div>
</form>